@use "functions" as *;

@mixin center-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin align-center() {
  display: flex;
  align-items: center;
}

@mixin container-padding() {
  padding: rem(8) calc((100vw - 1200px) / 2);
}
