@use "../util" as *;

.hero {
  margin: rem(32) 0;
  padding: rem(8) calc((100vw - 1200px) / 2);
  &__container {
    display: flex;
    flex-direction: column;
    margin: rem(16) rem(24);

    h1 {
      max-width: rem(750);
      font-family: "Now Medium";
      font-size: rem(48);

      span {
        color: var(--accent-color);
      }

      @include breakpoint(large) {
        max-width: fit-content;
      }
    }

    p {
      max-width: rem(700);
      font-size: rem(20);

      color: var(--gray);

      @include breakpoint(large) {
        max-width: rem(850);
      }
    }

    &--btn {
      width: rem(144);
      padding: rem(10);
      background-color: var(--accent-color);
      border: none;
      outline: none;
      border-radius: rem(4);
      cursor: pointer;

      a {
        color: var(--white);
        text-decoration: none;
        font-size: rem(16);
        font-weight: 600;
      }
      &:hover {
        background-color: var(--light-red);
      }
    }
  }
}
