@use "../util" as *;

.navbar {
  height: rem(80);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  @include container-padding();

  &__logo {
    font-family: "Now Black";
    color: var(--accent-color);
    cursor: pointer;
    text-decoration: none;
    font-size: rem(18);
    margin-left: rem(24);
    @include align-center();

    //uppercase
    text-transform: uppercase;
  }

  &__bars {
    color: var(--black);
    position: absolute;
    top: rem(22);
    right: rem(20);
    font-size: rem(32);
    z-index: 2;

    @include breakpoint(large) {
      opacity: 0;
    }

    @include breakpoint-down(smallest) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 50%;
    padding: min(30vh, 5rem) rem(32);
    list-style: none;
    text-align: center;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;

    @include breakpoint(medium) {
      inset: 0 0 0 70%;
    }
    @include breakpoint(large) {
      @include align-center();
      flex-direction: row;
      position: relative;
      margin-right: rem(24);
      padding: 0;
      inset: 0;
      background-color: var(--background-color);
      transform: none;
    }

    &--links {
      color: var(--black);
      @include align-center();
      justify-content: start;
      text-decoration: none;
      font-weight: 700;
      padding: rem(20);
      cursor: pointer;

      @include breakpoint(large) {
        padding: rem(0) rem(16);
      }

      &:hover {
        color: var(--accent-color);
        transition: all 0.3s ease;
      }
    }
  }
  &__menu[data-visible="true"] {
    transform: translateX(0%);
  }
}
